<div class="cards-container">
  <div class="site-card" *ngFor="let group of app.groupList">
    <app-group-card [group]="group"></app-group-card>
  </div>

  <mat-card class="new-group-card">
    <mat-card-actions>
      <button mat-fab color="primary" aria-label="Add a new group" (click)="openNewGroupDialog()">
        <mat-icon>add_circle</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

  <div class="empty-card"></div>
  <div class="empty-card"></div>
  <div class="empty-card"></div>
</div>