h1 {
  text-align: center;
}

.mat-dialog-content {
  height: 320px;
  width: 700px;
}

.mat-dialog-content button {
  margin: 10px;
}

.review {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-top: 20px;
  margin-left: 10px;
}

.rating-label {
  font-size: 16px;
  margin: 0px 0px 0px 30px;
}

ngb-rating {
  color: #FFC107;
  font-size: 40px;
  margin: 20px 0px 0px 20px;
}

.comment-container {
  margin: 30px 0px 0px 10px;
}

.comment {
  resize: none;
  height: 80px;
}

::ng-deep .mat-form-field-underline {
  display: none;
}