<form (ngSubmit)="login()" [formGroup]="loginForm">

	<h1><strong>Login</strong></h1>

	<mat-form-field class="input-box">
		<mat-label>Username</mat-label>
		<input matInput formControlName="username">
	</mat-form-field>

	<mat-form-field class="input-box">
		<mat-label>Password</mat-label>
		<input matInput formControlName="password">
	</mat-form-field>

	<button mat-raised-button color="primary" type="submit">Login</button>
	<button mat-raised-button color="primary" (click)="goToRegister()" type="button">Register</button>

</form>