<form (ngSubmit)="register()" [formGroup]="registerForm">

	<h1><strong>Register</strong></h1>

	<mat-form-field class="input-box">
		<mat-label>Name</mat-label>
		<input matInput formControlName="name">
	</mat-form-field>

	<mat-form-field class="input-box">
		<mat-label>Username</mat-label>
		<input matInput formControlName="username">
	</mat-form-field>

	<mat-form-field class="input-box">
		<mat-label>Password</mat-label>
		<input matInput formControlName="password">
	</mat-form-field>

	<button mat-raised-button color="primary" type="submit">Register</button>
  <button mat-raised-button color="primary" (click)="goToLogin()" type="button">Login</button>

</form>