<h1 mat-dialog-title><strong>New Site</strong></h1>

<div mat-dialog-content>
  <form class="site-form" (ngSubmit)="onSubmit()" [formGroup]="siteForm">

    <div class="select" *ngIf="!createNewSite">
      <mat-label for="site" class="existing-site">Do you want to add some of this sites?</mat-label>
      <mat-select name="site" id="site" formControlName="selectSite">
        <mat-option *ngFor="let site of siteList" [value]="site">{{ site.name }}</mat-option>
      </mat-select>
    </div>
    <div class="new-site-button-container">
      <button *ngIf="!createNewSite" id="new-site-button" mat-raised-button color="primary" (click)="newSite()" type="button">New Site</button>
    </div>


    <div class="new-site" *ngIf="createNewSite">
      <label for="name-site">Name of the site:</label>
      <input type="text" id="name-site" name="name-site" formControlName="name" placeholder="Name">

      <label for="map-url">Url of Google Maps:</label>
      <input type="text" id="map-url" name="map-url" formControlName="mapUrl" placeholder="Url">
    </div>

    <div class="review">
      <label class="rating-label">Rating</label>
      <ngb-rating [max]="5" [(rate)]="rating" [readonly]="false"></ngb-rating>

      <mat-form-field class="comment-container" appearance="fill">
        <mat-label>Comment</mat-label>
        <textarea matInput class="comment" formControlName="comment"></textarea>
      </mat-form-field>
    </div>

    <button mat-raised-button class="create" color="primary" type="submit">Create Site</button>
    <button mat-raised-button class="cancel" color="primary" (click)="cancel()" type="button">Cancel</button>

  </form>
</div>
