h1 {
  text-align: center;
}

.mat-dialog-content {
  height: 500px;
  width: 700px;
}

.site-form {
  position: relative;
}

.select {
  width: 350px;
  height: 60px;
  margin: 20px 400px 20px 20px;
}

.existing-site {
  font-size: 18px;
}

.new-site-button-container {
  position: relative;
}

#new-site-button {
  position: absolute;
  top: -80px;
  left: 400px;
  height: 50px;
  width: 110px;
  margin-left: 40px;
}

.new-site {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: 30px;
}

.mat-dialog-content button {
  margin: 10px;
}

.review {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-left: 10px;
}

.rating-label {
  font-size: 16px;
  margin: 0px 0px 0px 30px;
}

ngb-rating {
  color: #FFC107;
  font-size: 40px;
  margin: 20px 0px 0px 20px;
}

.comment-container {
  margin: 30px 0px 0px 10px;
}

.comment {
  resize: none;
  height: 80px;
}

.site-form .create, .cancel {
  position: absolute;
  top: 415px;
  height: 50px;
  width: 110px;
}

.site-form .create {
  left: 10px;
}

.site-form .cancel {
  left: 510px;
}

::ng-deep .mat-form-field-underline {
  display: none;
}