.site-card {
  width: 400px;
  height: 500px;
  margin: 20px;
  /* border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(70, 70, 70, 0.397); */
}

.mat-card-title {
  margin: 10px 0px;
  font-size: 26px;
}

.map-container {
  height: 300px;
}

.map-container p {
  color: red;
  margin: 20px 0px 0px 5px;
}

.site-card p, a {
  margin: 10px 0px;
}

.mat-card-content {
  margin: 0px;
}

.mat-card-actions button {
  padding: 5px 15px;
  margin: 5px;
}