.site-card {
  width: 300px;
  height: 250px;
  margin: 10px;
  border-radius: 10px;
  background-color: #dfecfdb2;
  box-shadow: 0px 3px 2px -2px rgb(0 0 0 / 20%), 2px 2px 2px 0px rgb(0 0 0 / 14%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}

mat-card-header {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  height: 80px;
}

.mat-card-title {
  margin-top: 5px;
  line-height: 28px;
  font-size: 24px;
}

mat-card-header button {
  height: 60px;
  width: 60px;
  margin-right: 10px;
}

mat-icon {
  height: 50px;
  width: 50px;
  font-size: 28px;
}

.rating {
  margin: 10px 0px 20px 20px;
}

.see-comments {
  color: rgb(42, 141, 255);
  margin-left: 10px;
  cursor: pointer;
}

.site-card a {
  margin: 10px 0px;
}

.mat-card-content {
  margin: 0px;
}

.mat-card-actions {
  width: 100px;
  margin: 0px auto;
}

.mat-card-actions button {
  padding: 5px 15px;
  margin: 5px;
}