<mat-card class="site-card">
  <mat-card-header>
    <mat-card-title>{{ site.name }}</mat-card-title>
    <button mat-fab color="primary" aria-label="Show map" (click)="openMapDialog()">
      <mat-icon>location_on</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <p>
      Review: x estrellas
    </p>
    <p class="nav-link" (click)="seeReviews()">See comments</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="showNewReviewDialog()">Add a Review</button>
  </mat-card-actions>
</mat-card>