<h1 mat-dialog-title><strong>Join Group</strong></h1>

<div mat-dialog-content>
  <form (ngSubmit)="onSubmit()" [formGroup]="joinGroupForm">

    <mat-form-field class="code-container">
      <mat-label>Invitation code</mat-label>
      <input matInput formControlName="code" placeholder="Invitation code">
    </mat-form-field>

    <div class="button-container">
      <button mat-raised-button color="primary" type="submit">Join Group</button>
      <button mat-raised-button color="primary" (click)="cancel()" type="button">Cancel</button>
    </div>

  </form>
</div>

